deluge.mugi.bradconte.com {
	proxy / :8112 {
		transparent
		websocket
	}
}

plex.mugi.bradconte.com {
	proxy / :32400 {
		transparent
		websocket
	}
}

# Default landing page.
mugi.bradconte.com {
	root /srv/mugi	
}

